 /* Trevor Womack 
11/08/2020
Mini Challenge 13
This challenge has an upvote button and comments, showcased at the Web Unleashed Conference 2020  */

.center{
    display: flex;
    justify-content: center;
}
.imageW{
    width: 100%;
}
.textColor{
    color: rgb(238, 113, 30);
}
.numberFont{
    font-size: 30px;
}
.bgColor{
    color: orangered;
}
.font{
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
}
.fontColor1{
    color: lightslategray;
}


